<% include header %>

<div class="container">
	<div class="main-container">
		<h1>Movies page</h1>
		<ul>
			<% for (var i = 0; i < movies.length; i++) { %>
			<li><%= movies[i].data.properties.title %></li>
			<% } %>
		</ul>
	</div>
</div>

<% include footer %>