<!DOCTYPE html>
<html>
<head>
	<title>Movies page</title>
</head>
<body>
	<h1>Movies page</h1>
	<ul>
	<% for (var i = 0; i < movies.length; i++) { %>
		<li><%= movies[i].data.properties.title %></li>
	<% } %>
	</ul>
	</body>
</body>
</html>